listen destination
   bind *:"$PORT"
   mode tcp
   log stdout format raw daemon
   option tcplog
   timeout client 5s
   timeout connect 30s
   timeout server 30s
   balance leastconn
   server destination "$HOST":"$PORT" check
